{% extends 'base.html.twig' %}

{% block title %}Login @Meetdown{% endblock %}

{% block body %}
{% if error %}
<div class="card-panel error center">{{ error.messageKey|trans(error.messageData, 'security') }} Try again.</div>
{% endif %}
<div class="card">
  <div class="card-content">
    <div class="card-title">
      Please login to access your account.
    </div>
    No account? <a href="{{ path('signin') }}">Sign in</a>
    {{ form_start(form) }}

    {{ form_row(form.email) }}
    {{ form_row(form.password) }}

    <div class="card-action">
      <button class="btn right waves-effect" type="submit">
        Login
      </button>
    </div>
    {{ form_end(form) }}
  </div>
</div>
{% endblock %}