{% extends 'base.html.twig' %}

{% block title %}Sign In @Meetdown{% endblock %}

{% block body %}
<div class="card">
  <div class="card-content">
    <span class="card-title">
      Welcome to Meetdown. Let's create an account.
    </span>
    {{ form_start(form) }}

    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_row(form.passwordConfirm) }}

    <div class="card-action">
      <button class="btn right waves-effect" type="submit">
        Sign In
      </button>
    </div>
    {{ form_end(form) }}
  </div>
</div>
{% endblock %}