{% extends 'base.html.twig' %}

{% block title %}
  Meetdown
{% endblock %}

{% block body %}


  <article class="card-panel">
    <h1 class="brand">Meetdown.io</h1>
    <h4 class="flow-text">The platform which let you organize public events.</h4>
  </article>

  <aside class="card-panel">
    <ul class="collection">
      <li class="collection-item">✔️ Home page list all events with pagination</li>
      <li class="collection-item">✔️ You can log in &amp; sign up and post events when connected</li>
      <li class="collection-item">The form to post an event has at least 5 differents field</li>
    </ul>
  </aside>

</small>

{% endblock %}