{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="icon" href="https://dummyimage.com/32x32/42b983/ffffff.png&text=MD">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <style>
  html, input {
    color: #2c3e50;
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
  }
  .brand, .card-title {
    font-family: Montserrat;
  }
  /* Brand color */
  .brand-color {
    background-color: #42b983 !important;
  }
  /* Call to action color */
  .btn, .cta-color {
    background-color: #ff8686 !important;
  }
  .error {
    color: #f66;
  }
  </style>
</head>
<body>
  <header class="navbar-fixed">
    <nav class="row">
      <div class="nav-wrapper col s12 brand-color">
        <a href="{{ path('home') }}" class="brand-logo left brand">
          MD
        </a>
        <ul class="right">
          <li class="{{ currentPath is same as('/events') ? 'active' : '' }}">
            <a href="{{ path('events') }}" class="waves-effect waves-light">Events</a>
          </li>
          <li class="{{ currentPath is same as('/publish') ? 'active' : '' }}">
            <a href="{{ path('publish') }}" class="waves-effect waves-light">Publish</a>
          </li>
          {% if not app.user %}
          <li class="{{ currentPath is same as('/login') ? 'active' : '' }}">
            <a href="{{ path('login') }}" class="waves-effect waves-light">Login</a>
          </li>
          {% else %}
          <li>
            <a href="{{ path('logout') }}" class="waves-effect waves-light">Logout</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    {% block body %}{% endblock %}
  </main>
  <footer class="page-footer transparent">
    <div class="footer-copyright transparent">
      <div class="container grey-text right-align">
        ©2018 <span class="brand">Meetdown.io</span>
      </div>
    </div>
  </footer>
  <script onload="M.AutoInit" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  </body>
  </html>
