{% extends 'base.html.twig' %}

{% block title %}Events @Meetdown{% endblock %}

{% block body %}

<section class="container">
  {% for event in events %}
  <article class="card horizontal">
    {% if event.image %}
    <div class="card">
      <img class="materialboxed" width="300" height="200" src="{{ event.image }}">
    </div>
    {% endif %}
    <div class="card-stacked">
      <div class="card-content">
        <span class="card-title">{{ event.title }}</span>
        <aside>{{ event.createdAt | date('d/m/Y') }}</aside>
        <div>
          <aside>
            {{ event.description }}
          </aide>
          <div class="card-action">
            <a href="{{ path('event', {'id': event.id}) }}" class="right">more</a>
          </div>
        </div>
      </div>
    </div>
  </article>
  {% endfor %}
</section>
{% endblock %}
