{% extends 'base.html.twig' %}

{% block title %}{{ event.title }} @Meetdown{% endblock %}

{% block body %}

<aside class="card horizontal">
  {% if event.image %}
  <div class="card">
    <img class="materialboxed" width="300" height="200" src="{{ event.image }}">
  </div>
  {% endif %}
  <div class="card-stacked">
    <div class="card-content">
      <span class="card-title">{{ event.title }}</span>
      <aside>{{ event.createdAt | date('d/m/Y') }}</aside>
      <div>
        <p>
          {{ event.description }}
        </p>
        <div class="card-action">
          <a href="{{ path('event_edit', { id: event.id }) }}" class="btn right waves-effect">Edit</a>
        </div>
      </div>
    </div>
  </div>
</aside>
<article class="card-panel">
  <p class="flow-text">
    {{ event.content }}
  </p>
</article>
{% endblock %}