{% extends 'base.html.twig' %}

{% set label = isEditMode ? 'Modify' : 'Publish' %}

{% block title %}{{ label }} event.title @Meetdown{% endblock %}

{% block body %}

<div class="card">
  <div class="card-content">
    <span class="card-title">
      {{ label }} an event
    </span>
    {{ form_start(form) }}

    {{ form_row(form.title) }}
    {{ form_row(form.image) }}
    {{ form_row(form.description) }}
    {{ form_row(form.content) }}

    <div class="card-action">
      <button class="btn right waves-effect" type="submit">
        {{ label }}
      </button>
    </div>
    {{ form_end(form) }}
  </div>
</div>


{% endblock %}